body{
  margin:0px;
  background-image: url('./css/images/map.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.fadedBackground{
  background-image: url('');
}

input {
  padding-left: 10px;
}

.header {
  width: 100%;
  background: #F7DFB5;
  height: 50px;
  margin: 0px auto;
  padding-left: 75px;
  padding-top: 15px;
  top: 0px;
  position: fixed;
  opacity: 1.71;
}

.title {
  font-family: 'Syncopate', sans-serif;
  font-size: 2em;
  padding-bottom: 15px;
  display: inline;
  opacity: 1.71;
}

.nameInput {
  width: 150px;
  display: inline;
  border-radius: 7px;
  padding-left: 12px;
}

p {
  font-family: arial, sans-serif;
  display: inline;
}

